body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }

.listascomdisc{
    list-style: disc;
}

a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 80%;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    text-align: center;
}
.anchors {
    padding-left: 15px;
}

table.ancoras {
   border: 1px solid #cdcdcd;
   width: 23em; 
   font-size: 88%;
}

table.ancoras th {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    background-color: #D4F2CE;
}

table.ancoras tbody, tfoot {
   background-color: #F9F9F9;
   text-align: left;
}
table.ancoras tfoot {
    text-align: center;
}

table.ancoras td {
    vertical-align: top;
}

table.ancoras td:nth-child(1){
    font-weight: bold;
}

table.ancoras ul {
    margin-top: 0;
}

table.ep_temporada {
    border: 1px solid #cdcdcd;
    width: 50%;
    font-size: 88%;
    text-align: center;
    border-collapse: separate;
    margin-bottom: 20px;
    border-spacing: 0px;
    padding: 0px;
}

table.ep_temporada thead {
    background-color:#0000005d;
    text-align: center;   
}

table.ep_temporada th, table.ep_temporada td {
    border: 1px solid #0000005d;
    padding: 2px;
}

figure {
    text-align: center;
}

div.fig_direita {
    float: right;
    margin: auto;
    text-align: center;
    border: 1px solid #cdcdcd;
    font-size: 90%;
    background-color: rgba(240, 233, 233, 0.973);
    padding: 2px;
    width: min-content;
}

div.fig_direita figcaption {
    width: 100%;           
    font-size: 0.9em;       
    text-align: justify;
}

div.fig_esquerda{
  float: left;
  margin: 0 16px 12px 0;
  text-align: center;
  border: 1px solid #cdcdcd;
  font-size: 90%;
  background-color: rgba(240, 233, 233, 0.973);
  padding: 2px;
  width: fit-content; 
  max-width: 100%; 
}

div.fig_esquerda figure{
  margin: 0;          
  display: inline-block;
}

div.fig_esquerda img{
  display: block;     
}
div.fig_esquerda{
  float: left;
  display: inline-block;
  width: min-content;
  max-width: 100%;
}

div.fig_esquerda figcaption {
    width: 100%;           
    font-size: 0.9em;       
    text-align: justify;
}

div blockquote {
    float: right;
    text-align: left;
    border: 3px solid #000000;
    margin: auto;
    font-size: 80%;
    width: 40%;
    background-color:#F9F9F9;
    padding: 2px;
}

table.ep_temporada.direita {
    float: right;
    margin-left: 15px;
}

.duas_img{
  display: flex;
  gap: 2px;      
}

.duas_img .mini_fig{
  margin: 0;                 
  width: 150px;              
  text-align: center;        
}

.duas_img .mini_fig img{
  display: block;
  width: 100%;
  height: auto;
}

table.tabela_extras {
    border: 1px solid #cdcdcd;
    width: auto;
    font-size: 88%;
    text-align: center;
    border-collapse: separate;
    margin-bottom: 20px;
    border-spacing: 0px;
    padding: 0px;
}

table.tabela_extras thead {
    background-color:#9F0608;
    text-align: center;   
}

table.tabela_extras th, table.tabela_extras td {
    border: 1px solid #0000005d;
    padding: 2px;
}

table.tabela_extras tbody td:nth-child(1){
    font-weight: bold;
    background-color: #EAECF0;
}

.sidebar{
  position: sticky;
  top: 16px;
  align-self: start;

  max-height: calc(100vh - 32px);
  overflow: auto;
  padding-right: 8px; /* espaço pro scroll não colar no texto */
}
